params {
    seeds           = [ (new Random().nextInt(9000) + 1000) ]  // Una semilla entre 1000 y 9999
    n_per_z         = 5
    d               = 2
    z_vals          = [0, 1]
    N               = 100000
    N_cp            = 100
    N_hip           = 3000
    batch           = 5000
    triangle        = true
    experiments_csv = "results/experiments.csv"
    save_fibers_dir = "results/fibras"
    f_threshold     = 0.18
}

process {
    withName:run_ortel {
        maxForks = 2
    }
}

trace {
    enabled = true
    file = "logs/trace.txt"
    overwrite = true
}

report {
    enabled = true
    file = "logs/report.html"
}
