process {
  executor = 'local'
  cpus = 1
  memory = '2 GB'
  time = '1h'
}

profiles {
  // Correr en tu máquina
  local {
    process.executor = 'local'
    process.cache    = 'lenient'
    process.cpus     = 1
    process.memory   = '2 GB'
    process.time     = '1h'
    process {
      withName: 'RUN_EXPERIMENT' {
        cpus = 1
        memory = '1 GB'
        time = '30m'
      }
    }
    timeline {
      enabled = true
      file    = "timeline.html"
      overwrite = true
    }
    trace {
      enabled = true
      file    = "trace.txt"
      overwrite = true
    }
  }

  // Correr en SLURM del cluster
  slurm {
    process.executor = 'slurm'
    process.queue    = 'ngen-ko'          // cámbialo si usas otra partición
    process.cpus     = 8
    process.memory   = '16 GB'
    process.time     = '6h'
    // process.clusterOptions = '--account=TU_CUENTA' // si tu cluster lo requiere

    singularity.enabled = true            // habilita Singularity si pasas --container
    singularity.autoMounts = true

    // Asigna contenedor globalmente si se pasa --container <.sif>
    process.container = params.container

    timeline { enabled = true; file = "timeline_slurm.html"; overwrite = true }
    trace    { enabled = true; file = "trace_slurm.txt"; overwrite = true }
  }
}
