profiles {
  // Correr en tu máquina
  local {
    process.executor = 'local'
    process.cache    = 'lenient'
    timeline {
      enabled = true
      file    = "timeline.html"
    }
    trace {
      enabled = true
      file    = "trace.txt"
    }
  }

  // Correr en SLURM del cluster
  slurm {
    process.executor = 'slurm'
    process.queue    = 'ngen-ko'          // cámbialo si usas otra partición
    process.cpus     = 8
    process.memory   = '16 GB'
    process.time     = '6h'
    // process.clusterOptions = '--account=TU_CUENTA' // si tu cluster lo requiere

    singularity.enabled = true            // habilita Singularity si pasas --container
    singularity.autoMounts = true

    timeline { enabled = true; file = "timeline_slurm.html" }
    trace    { enabled = true; file = "trace_slurm.txt" }
  }
}
